langchain==0.3.4
langchain-community==0.3.3
langchain-huggingface==0.1.0
huggingface-hub==0.25.1
transformers==4.45.2
peft==0.13.2
intel-extension-for-pytorch

sentence-transformers==3.2.1
keybert==0.8.5
chromadb==0.5.13
flask==3.0.3
flask-socketio==5.3.6
flask-jwt-extended==4.6.0
flask-limiter==3.8.0
flask-redis==0.4.0
pyTelegramBotAPI==4.23.0
structlog==24.4.0
pytest==8.3.3
redis==5.1.1
langchain-huggingface==0.0.3
torch>=2.3.0
bitsandbytes>=0.48.1  # Уберите ==0.43.0